{% extends "base_generic.html" %}

{% block content %}

<h1>Location Detail for {{ location.id }} - {{ location.name }} in {{ location.zoo.name }}</h1>

{% for locations in location.fromLocation.all %}
    <p> {{locations.direction}} to {{locations.toLocation.name}} </p>
{% endfor %}

<h1>Characters</h1>

{% for characters in location.characters_set.all %}
    <p> {{characters.name}} <button onclick="showModal('{{characters.name}}')">Show Modal</button></p>

<div id="{{characters.name}}" class="modal charactermodal">
  <span class="close">&times;</span>
  <h1>{{characters.name}}</h1>
  <img class="modal-content" src="{{characters.imageFileName}}">
  <br>
  <h5 id="{{characters.dialougue}}"class="optionClicked" onclick="answer()">{{characters.dialougueOne}}</h5>
  <h3 id="{{chracters.answer}}" class="hidden">{{characters.answer}}</h3>
  <div id="caption"></div>
</div>

{% endfor %}

{% endblock %}


