{% extends "base_generic.html" %}

{% block content %}

<h1>Location Detail for {{ location.id }} - {{ location.name }} in {{ location.zoo.name }}</h1>

{% for locations in location.fromLocation.all %}
    <p> {{locations.direction}} to {{locations.toLocation.name}} </p>
{% endfor %}

<h1>Characters</h1>
{% load static %}
{% for characters in location.characters_set.all %}
    <p> {{characters.name}} <button onclick="showModal('{{characters.name}}')">Show Modal</button></p>

<div id="{{characters.name}}" class="modal charactermodal">
  <span class="close" onclick="closeModal('{{characters.name}}')">&times;</span>
  <h1>{{characters.name}}</h1>
  <img class="modal-content" src="{% static characters.imageFileName %}">
  <br>
  <h4 id="{{characters.id}}"class="optionClicked" onclick="answer('return{{characters.id}}') , dialougueTwo('questionTwo{{characters.id}}')">{{characters.dialougueOne}}</h4>
  <h5 id="return{{characters.id}}" class="hidden">{{characters.answerOne}}</h5>
  <h4 id="questionTwo{{characters.id}}" class="hidden optionClicked" onclick="answerTwo('answerTwo{{characters.id}}')">{{characters.dialougueTwo}}</h4>
  <h5 id="answerTwo{{characters.id}}" class="hidden">{{characters.answerTwo}}</h5>
<div id="caption"></div>
</div>

{% endfor %}

{% endblock %}


